.ImagePanel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .9);
}

.ImagePanel > img {
  max-height: 90vh;
  max-width: 90%;
  animation: open_image .3s ease-in-out both; 
}

@keyframes open_image {
  0% { transform: scale(0) }
  100% { transform: scale(1) }
}