.DiagrammSection {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.DiagrammSection > strong {
  width: 42%;
}

.DiagrammSection > div {
  width: 58%;
  height: 5px;
  background-color: #aaa;
}

.DiagrammSection > div > div {
  height: 5px;
  background-color: #208ca0;
}
