.Aside {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 100%;
}

@media (min-width: 480px) {
  .Aside {
    width: 40%;
  }
}

@media (min-width: 990px) {
  .Aside {
    width: 35%;
  }
}