.NotFound {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: inherit;
  background-color: #e2e2e2;
  perspective: 900px;
}

.NotFound h2 {
  color: #208ca0;
}